<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Museo de la Computacion</title>
    <link rel="shortcut icon" href="/views/img/LogoBuap.png" type="image/x-icon" />
    <link rel="preload" href="/views/css/normalize.css" as="style" />
    <link rel="stylesheet" href="/views/css/normalize.css" />
  
    <link rel="preload" href="/views/css/style.css" as="style" />
    <link rel="stylesheet" href="/views/css/style.css" />
  </head>
  
  <body>
    <header>
      <div class="logo">
        <a href=""><img src="/views/img/LogoA.png" alt="Logo del la BUAP" /></a>
      </div>
      <nav class="NavBar">
        <ul>
          <li class="NavItem">
            <a href="/views/page/index.html">Inicio</a>
          </li>
          <li class="NavItem">
            <a href="/views/page/nosotros.html">Nosotros</a>
          </li>
          <li class="NavItem">
            <a href="/views/page/exposiciones.html">Expocision</a>
          </li>
          <li class="NavItem">
            <a href="/views/page/computadoras.html">Historia</a>
          </li>
          <li class="NavItem">
            <a href="/views/page/galeria.html"> Galeria </a>
          </li>
          <li class="NavItem">
            <a href="/views/page/actividades.html">Actividades </a>
          </li>
        </ul>
      </nav>
      <div></div>
    </header>

    <main>
        <h1>PAGINA GALERIA</h1>
    </main>
  
    <footer class="footerIndexHorarios">
      <div class="grupo1">
        <div class="box">
          <figure>
            <a href="">
              <img src="/views/img/LogoC.png" alt="Logo de la BUAP" />
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>Benemérita Universidad Autónoma de Puebla</h2>
          <p>4 Sur 104 Centro Histórico C.P. 72000
            Teléfono +52 (222) 229 55 00</p>
        </div>
  
        <div class="box">
          <h2>Facultad de Ciencias de la Computacion</h2>
          <p>Avenida San Claudio y 14 Sur,
            Colonia San Manuel, Edificio CCO4-211,
            Ciudad Universitaria, C.P. 72570,
            Puebla, Puebla. México.
            Teléfono +52 (222) 2295500 ext. 5673</p>
        </div>
  
        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="RedSocial">
            <a href="#">
              <iconify-icon class="iconoFacebook" icon="uiw:facebook"></iconify-icon>
            </a>
            <a href="#">
              <iconify-icon icon="entypo-social:instagram"></iconify-icon>
            </a>
            <a href="#">
              <iconify-icon icon="brandico:twitter-bird"></iconify-icon>
            </a>
            <a href="#">
              <iconify-icon icon="logos:google-gmail"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="grupo2">
        <small>&copy; 2022 <b>Museo de la Computacion </b>-Todos los derechos
          reservados-</small>
      </div>
    </footer>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="views/js/modernizr.js"></script>
  </body>
  
  </html>